@page
@model ChangePasswordModel
@{
    ViewData["Title"] = "Change password";
}

<head>
    <link rel="stylesheet" href="index.cshtml.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kanit">
</head>

<body style="background-color:#f8f3e3">
   <header>
        <div class=" container-fluid " id="Header">
            <div class="row">
                <div class="col-3">
                    <a href="/Home/Index"><img id="nav-img" src="~/images/logo-navbar2.png" alt="yTOkgn.png" /></a>
                </div>
                <div class="col-9">
                    <a href="/Home/Index">UserProfile</a>
                    <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                        <button id="logout" type="submit" class="nav-link btn btn-link">Logout</button>
                    </form>
                </div>
            </div>
        </div>
    </header>

    <div class="page">
        <div class="left">
                 <div class="container">
				    <div class="TXT1">Manage Your Account</div>

                    <div class="tab">
					    <button class="tablinks"><a class="nav-link @ManageNavPages.IndexNavClass(ViewContext)" id="profile" asp-page="./Index">Profile</a></button>
                        <button class="tablinks"><a class="nav-link @ManageNavPages.ChangePasswordNavClass(ViewContext)" id="change-password" asp-page="./ChangePassword">Password Change</a></button>
				    </div>

                </div>
                
        </div>
        <div class="right">
            <div class="container">
                <div class="TXT1"><p>Change Password</p></div>
                <partial name="_StatusMessage" for="StatusMessage" />
                <form id="profile-form" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                    <div class="form-floating">
                        <input asp-for="Input.OldPassword" class="form-control" autocomplete="current-password" aria-required="true" placeholder="Please enter your old password." />
                        <label asp-for="Input.OldPassword" class="form-label"></label>
                        <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
                    </div>

                    <div class="form-floating">
                        <input asp-for="Input.NewPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Please enter your new password." />
                        <label asp-for="Input.NewPassword" class="form-label"></label>
                        <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
                    </div>
                    <div class="form-floating">
                         <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Please confirm your new password."/>
                        <label asp-for="Input.ConfirmPassword" class="form-label"></label>
                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                    </div>
                    <button id="update-profile-button" type="submit" class="w-100 btn btn-lg btn-primary">Update password</button>
                </form>
            </div>
        </div>
    </div>

</body>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
