/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */


* {
    font-family: "Nunito", sans-serif;
    font-style: normal;
}

body {
    align-items: center;
    justify-content: center;
}

header {
    width: 100%;
    height: 90px;
    left: 0px;
    top: 0px;
    background: #FCD284;
    display: flex;
    align-items: center;
}

div img {
    width: 177px;
    height: 100px;
}

header div {
    display: flex;
    align-items: center;
}

header .col-9 {
    display: flex;
    justify-content: end;
    gap: 50px;
}

    header .col-9 a:hover, a:active {
        color: #F8F3E3;
        font-weight: 600;
        text-decoration: none;
    }

    header .col-9 a:link, a:visited {
        color: #242121;
        font-weight: 600;
        text-decoration: none;
    }

.row {
    width: 100%;
}

#Header {
    position: relative;
    width: 100%;
    height: 85px;
    left: 0px;
    top: 0px;
    background: #FCD284;
}


.page {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    min-height: 600px;
}

.left {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 30%;
    height: 600px;
    background-color: #2c2727;
    box-shadow: 5px 0px 15px -5px #66635B;
}

.TXT1 {
    width: 100%;
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    color: #F8F3E3;
}

.left .container {
    width: 100%;
    padding: 70px 0px 0px 0px;
}

.tab {
    padding-left: 25px;
    float: left;
    background-color: #2c2727;
    width: 100%;
    margin-top: 50px;
}

    .tab button {
        display: block;
        background-color: inherit;
        padding: 22px 2vw;
        width: 100%;
        font-weight: 500;
        font-size: 20px;
        color: #F8F3E3;
        border: none;
        outline: none;
        text-align: left;
        cursor: pointer;
        transition: 0.3s;
    }

        .tab button:hover, button:active {
            background: #FCD284;
            color: #2c2727;
            font-weight: 600;
        }

.right {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 70%;
    height: 600px;
    align-items: center;
    align-content: center;
    justify-items: center;
    padding-right: 10%;
}

    .right .container {
        width: 100%;
        height: fit-content;
        padding: 5px 100px 21px 100px;
    }

    .right .TXT1 {
        width: 100%;
        font-size: 50px;
        padding: 0px 0px 0px 0px;
        text-align: start;
        font-weight: bold;
        color: #2c2727;
    }


.form-floating {
    height: 80px;
}

#firstNameandLast {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
}


    #firstNameandLast .form-floating {
        width: 50%;
    }

#update-profile-button {
    border: none;
    outline: none;
    background: #F8C25C;
    color: #2c2727;
    font-weight: bold;
    border-radius: 35px;
    margin-top: 25px;
}

.success {
    font: 10px;
    color: green;
    font-weight: 300;
    width: 100%;
    justify-content: right;
    padding: 0;
}


@media (max-width: 1100px) {
    .page {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        height: 1100px;
    }

    .left {
        width: 100%;
        height: 280px;
        padding: 0;
        margin-bottom: 0;
    }

    .container {
        padding: 0 0 0 0 0;
        width: 100%;
        height: 270px;
        margin-top: 0;
    }

    .tab {
        width: 100%;
        display: flex;
        flex-direction: row;
        padding-left: 0;
        justify-content: space-between;
    }

        .tab button {
            display: flex;
            padding: 7px 0;
            width: 30%;
            text-align: center;
            justify-content: center;
            height: 40px;
            margin-top: 35px;
        }

    .TXT1 {
        margin-top: 10px;
        font-size: 45px;
    }

    .right .TXT1 {
        width: 100%;
        font-size: 50px;
        padding: 0px 100px 0px 100px;
        text-align: center;
        font-weight: bold;
        color: #2c2727;
    }

        .right .TXT1 p {
            border-block-end-width: 0;
            font-size: 35px;
        }

    .right {
        margin-top: 0;
        width: 100%;
        height: fit-content;
        display: flex;
        justify-items: center;
        padding: 0 0 0 0;
    }

        .right .container {
            width: 100%;
            height: 100%;
            padding: 10px 5px 10px 5px;
        }


    #firstNameandLast .form-floating {
        width: 100%;
    }

    .success {
        font: 10px;
        color: green;
        font-weight: 300;
        width: 100%;
        text-align: center;
        padding: 0;
        margin-bottom: 40px;
    }
}
