/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a {
  color: #0077cc;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 80px;
    padding: 5px 0px 5px 0px;
    line-height: 50px;
    background-color: #242121;
    color: #f8f3e3;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.columns {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.column1 {
    flex: 25%;
    padding: 0px;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    justify-items: left;
}

.column2 {
    flex: 50%;
    padding: 0px;
    font-size: 12px;
    height: 100%;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
}

.column3 {
    flex: 11%;
    padding: 0px;
    font-size: 12px;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
    justify-content: right;
}

@media (max-width: 980px) {
    .column1 {
        flex: 50%;
        justify-content: left;
    }

    .column2 {
        flex: 50%;
        justify-content: right;
    }

    .column3 {
        display: none;
    }
}
