/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

* {
    font-family: "Nunito", sans-serif;
    font-style: normal;
}

header {
    width: 100%;
    height: 90px;
    left: 0px;
    top: 0px;
    background: #FCD284;
    display: flex;
    align-items: center;
}

.page {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 600px;
    justify-items: center;
    align-items: center;
    padding: 15px 20px 15px 20px;
}

div img{
    width: 177px;
    height: 100px;
}

header div {
    display: flex;
    align-items: center;
}

header .col-9 {
    display: flex;
    justify-content: end;
    gap:50px;
}

header .col-9 a:hover, a:active {
    color: #F8F3E3;
    font-weight: 600;
    text-decoration: none;
}

header .col-9 a:link, a:visited {
    color: #242121;
    font-weight: 600;
    text-decoration: none;
}

.row {
    width: 100%;
}

.text-danger {
    color: #dc3545;
    font-size: 14px;
    margin-top: 5px;
    display: block;
}

.validation-messages {
    border: 1px solid #dc3545;
    border-radius: 5px;
    padding: 10px;
}

#Header {
    position: relative;
    width: 100%;
    height: 85px;
    left: 0px;
    top: 0px;
    background: #FCD284;
}


.page {
    min-height: 600px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    padding: 40px 0 40px 0;
}

#TXT1 {
    width: 100%;
    font-size: 55px;
    text-align: center;
    font-weight: bold;
}

.area {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    height: fit-content;
    width: 100%;
}

.box {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    background-color: #fcd284;
    height: 350px;
    border-radius: 35px;
    width: 45%;
    margin: auto;
    padding: 6% 0 6% 0;
}

.BTzone {
    display: flex;
    align-items: center;
    height: fit-content;
    width: 100%;
}

.BTbox {
    display: flex;
    align-items: center;
    height: 40px;
    border-radius: 30px;
    width: 45%;
    margin: auto;
}

.box h3 {
    font-weight: bold;
    color: dimgray;
    display: flex;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80%;
    overflow: auto;
    margin: auto;
}

.bt1 {
    width: 50%;
}

.bt2 {
    width: 50%;
}

#cancelBT {
    float: right;
}

.form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: fit-content;
    margin: auto;
    width: 100%;
    padding: 0 30px 0 30px;
}

.form-label {
    width: 25%;
    font-size: 22px;
    font-weight : bold;
    text-align:end;
}

#inputZone {
    width: 65%;
}

.form-control {
    width: 85%;
    float: right;
}


@media (max-width: 1300px) {
    .page {
        padding: 60px 0 60px 0;
    }

    #TXT1 {
        font-size: 50px;
        font-weight: bold;
    }

    .box {
        height: 320px;
        width: 55%;
    }

    .BTbox {
        height: 35px;
        width: 55%;
    }
}

@media (max-width: 1000px) {
    .page {
        padding: 80px 0 80px 0;
    }

    #TXT1 {
        font-size: 45px;
        font-weight: bold;
    }

    .box {
        height: 300px;
        width: 70%;
    }

    .BTbox {
        height: 32.5px;
        width: 70%;
    }
}

@media (max-width: 700px) {
    .page {
        padding: 100px 0 100px 0;
    }

    #TXT1 {
        font-size: 40px;
        font-weight: bold;
    }

    .box {
        height: 250px;
        width: 80%;
    }

    .BTbox {
        height: 32.5px;
        width: 80%;
    }
}






