@model Feelfood.Models.AddorderModel
@{
    ViewData["Title"] = "Addorder";
}

<h1>Addorder</h1>

<h4>OrderModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" asp-action="Addorder">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Order.Canteen" class="control-label"></label>
                <input type="hidden" asp-for="Order.Canteen" class="form-control" />
                <input type="hidden" asp-for="Order.JobId" class="form-control" />
                <input asp-for="Order.Canteen" class="form-control" disabled/>
                <span asp-validation-for="Order.Canteen" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Order.Restaurent" class="control-label"></label>
                <input asp-for="Order.Restaurent" class="form-control" />
                <span asp-validation-for="Order.Restaurent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Order.Menu" class="control-label"></label>
                <input asp-for="Order.Menu" class="form-control" />
                <span asp-validation-for="Order.Menu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Order.Description" class="control-label"></label>
                <input asp-for="Order.Description" class="form-control" />
                <span asp-validation-for="Order.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

