/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

* {
    font-family: "Nunito", sans-serif;
    font-style: normal;
}

body {
    align-items: center;
    justify-content: center;
}

header {
    width: 100%;
    height: 90px;
    left: 0px;
    top: 0px;
    background: #FCD284;
    display: flex;
    align-items: center;
}

div img {
    width: 177px;
    height: 100px;
}

header div {
    display: flex;
    align-items: center;
}

header .col-9 {
    display: flex;
    justify-content: end;
    gap: 50px;
}

    header .col-9 a:hover, a:active {
        color: #F8F3E3;
        font-weight: 600;
        text-decoration: none;
    }

    header .col-9 a:link, a:visited {
        color: #242121;
        font-weight: 600;
        text-decoration: none;
    }

.row {
    width: 100%;
}

#Header {
    position: relative;
    width: 100%;
    height: 85px;
    left: 0px;
    top: 0px;
    background: #FCD284;
}

.page {
    min-height: 600px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    padding: 40px 0 40px 0;
}

#TXT1 {
    width: 100%;
    text-align: center;
}

    #TXT1 h1 {
        font-weight: bolder;
        color: #242121;
    }

.area {
    display: flex;
    align-items: center;
    height: fit-content;
    width: 100%;
}

.box {
    display: flex;
    align-items: center;
    background-color: #fcd284;
    height: 22.5rem;
    border-radius: 35px;
    width: 45%;
    margin: 25px auto 5px auto;
}

.cards {
    grid-column: center-start / -1;
    display: grid;
    grid-auto-flow: column;
    overflow: auto;
    padding-bottom: 0.3rem;
    padding-right: 0.5rem;
    width: 90%;
    height: 90%;
    margin: auto;
}

.card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-radius: 30px;
    place-content: center;
    background-color: #f8f3e3;
    font-size: 1.1rem;
    height: 18.5rem;
    width: 300px;
    overflow: hidden;
    padding: 1.2rem 5% 5px 5%;
}

    .card:not(:last-child) {
        margin-right: 10px;
    }

.ordererInfo {
    width: 100%;
    height: 13.3rem;
    overflow: scroll;
}

.buttonCard {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: auto;
    height: 3rem;
}

.BTzone {
    display: flex;
    align-items: center;
    height: fit-content;
    width: 100%;
    justify-items: center;
    margin-top: 25px;
}

#back {
    margin: auto;
}

.box h3 {
    font-weight: bold;
    color: dimgray;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80%;
    overflow: auto;
    margin: auto;
}

::-webkit-scrollbar {
    padding: 20px 20px 20px 20px;
    width: 3px;
    height: 7px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #BBBBBB;
}

    ::-webkit-scrollbar-thumb:hover {
        background: #8A8A8A;
    }

@media (max-width: 1300px) {
    .page {
        padding: 60px 0 60px 0;
    }

    .box {
        width: 55%;
    }

    .BTbox {
        height: 35px;
        width: 55%;
    }
}

@media (max-width: 1000px) {
    .page {
        padding: 80px 0 80px 0;
    }

    .box {
        width: 70%;
    }

    .BTbox {
        height: 32.5px;
        width: 70%;
    }
}

@media (max-width: 700px) {
    .page {
        padding: 100px 0 100px 0;
    }

    .box {
        width: 80%;
    }

    .BTbox {
        height: 32.5px;
        width: 80%;
    }
}
